<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="ScienceSoft\BookAdminUi\Ui\DataProvider\Category\ListingDataProvider">
        <plugin name="scnsoft_book_attributes" type="ScienceSoft\BookAdminUi\Plugin\AddAttributesToUiDataProvider"/>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="scnsoft_book_category_listing_data_source" xsi:type="string">ScnsoftBokCategoryCollection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="ScienceSoftBookAdminUiCategoryCollection"
                 type="ScienceSoft\BookAdminUi\Ui\DataProvider\Category\Listing\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">catalog_category_entity</argument>
            <argument name="resourceModel" xsi:type="string">ScienceSoft\BookAdminUi\Model\ResourceModel\Category
            </argument>
        </arguments>
    </virtualType>
</config>
