<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="ScienceSoft\BookFrontendUi\Api\BookRepositoryInterface"
                type="ScienceSoft\BookFrontendUi\Model\BookRepository"/>
    <preference for="ScienceSoft\BookFrontendUi\Api\Data\BookInterface"
                type="ScienceSoft\BookFrontendUi\Model\Book"/>
</config>
