<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ScienceSoft_BookModule::menu"
             title="Book Menu" module="ScienceSoft_BookModule"
             sortOrder="10"
             resource="Magento_Backend::content"
        />
        <add id="ScienceSoft_BookModule::menu_item"
             title="Book Items" module="ScienceSoft_BookModule"
             sortOrder="10" parent="ScienceSoft_BookModule::menu"
             action="scnsoft/book/index"
             resource="ScienceSoft_BookModule::menu_item"
        />
    </menu>
</config>
